.col-2{
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    background-color: #ffffff;  
    
  }
 
  .row{
    min-height: 70rem;
   border:none;
  }

  h4{
    font-family: "Outfit";
    font-weight: 700;
  }

  p{
    font-family: "Outfit";
    font-weight: 400;
    color: rgb(160, 160, 160);
  }